seccion2-4/my-first-app/e2e
seccion2-4/my-first-app/.editorconfig
seccion2-4/my-first-app/browserslist
seccion2-4/my-first-app/karma.conf.js
seccion2-4/my-first-app/node_modules
seccion2-4/my-first-app/package-lock.json

seccion5/listado-personas/e2e
seccion-5/listado-personas/.editorconfig
seccion-5/listado-personas/browserslist
seccion-5/listado-personas/karma.conf.js
seccion-5/listado-personas/node_modules
seccion-5/listado-personas/package-lock.json-

seccion-6/listado-personas/e2e
seccion-6/listado-personas/.editorconfig
seccion-6/listado-personas/browserslist
seccion-6/listado-personas/karma.conf.js
seccion-6/listado-personas/node_modules
seccion-6/listado-personas/package-lock.json

seccion-7/listado-personas/e2e
seccion-7/listado-personas/.editorconfig
seccion-7/listado-personas/browserslist
seccion-7/listado-personas/karma.conf.js
seccion-7/listado-personas/node_modules
seccion-7/listado-personas/package-lock.json

seccion-8/listado-personas/e2e
seccion-8/listado-personas/.editorconfig
seccion-8/listado-personas/browserslist
seccion-8/listado-personas/karma.conf.js
seccion-8/listado-personas/node_modules
seccion-8/listado-personas/package-lock.json

seccion-9/listado-personas/e2e
seccion-9/listado-personas/.editorconfig
seccion-9/listado-personas/browserslist
seccion-9/listado-personas/karma.conf.js
seccion-9/listado-personas/node_modules
seccion-9/listado-personas/package-lock.json

seccion-10/listado-personas/e2e
seccion-10/listado-personas/.editorconfig
seccion-10/listado-personas/browserslist
seccion-10/listado-personas/karma.conf.js
seccion-10/listado-personas/node_modules
seccion-10/listado-personas/package-lock.json

seccion-11/control-clientes/e2e
seccion-11/control-clientes/.editorconfig
seccion-11/control-clientes/.firebaserc
seccion-11/control-clientes/browserslist
seccion-11/control-clientes/karma.conf.js
seccion-11/control-clientes/node_modules
seccion-11/control-clientes/package-lock.json

seccion-12/control-clientes/e2e
seccion-12/control-clientes/.editorconfig
seccion-12/control-clientes/browserslist
seccion-12/control-clientes/karma.conf.js
seccion-12/control-clientes/node_modules
seccion-12/control-clientes/package-lock.json

seccion-13/control-clientes/e2e
seccion-13/control-clientes/.editorconfig
seccion-13/control-clientes/.firebaserc
seccion-13/control-clientes/browserslist
seccion-13/control-clientes/karma.conf.js
seccion-13/control-clientes/node_modules
seccion-13/control-clientes/package-lock.json

