section-11-routing/routing-start/e2e
section-11-routing/routing-start/node_modules
section-11-routing/routing-start/.DS_Store
section-11-routing/routing-start/.editorconfig
section-11-routing/routing-start/how-to-use.txt
section-11-routing/routing-start/package-lock.json

section-10-course-project/course-project/e2e
section-10-course-project/course-project/.editorconfig
section-10-course-project/course-project/browserslist
section-10-course-project/course-project/karma.conf.json
section-10-course-project/course-project/package-lock.json

section-9-services/services-start/e2e
section-9-services/services-start/.DS_Store
section-9-services/services-start/.editorconfig
section-9-services/services-start/how-to-use.txt
section-9-services/services-start/package-lock.json

section-8-course-project/course-project/e2e
section-8-course-project/course-project/.editorconfig
section-8-course-project/course-project/browserslist
section-8-course-project/course-project/karma.conf.json
section-8-course-project/course-project/package-lock.json

section-7-directives/my-first-app/e2e
section-7-directives/my-first-app/.editorconfig
section-7-directives/my-first-app/how-to-use.txt
section-7-directives/my-first-app/package-lock.json

section-6-course-project/course-project/e2e
section-6-course-project/course-project/.editorconfig
section-6-course-project/course-project/browserslist
section-6-course-project/course-project/karma.conf.json
section-6-course-project/course-project/package-lock.json

section-5-component-data-binding/my-first-app/e2e
section-5-component-data-binding/my-first-app/.editorconfig
section-5-component-data-binding/my-first-app/browserslist
section-5-component-data-binding/my-first-app/karma.conf.json
section-5-component-data-binding/my-first-app/package-lock.json

section-5-component-data-binding/practice-databinding/cmp-databinding/e2e
section-5-component-data-binding/practice-databinding/cmp-databinding/.DS_Store
section-5-component-data-binding/practice-databinding/cmp-databinding/.editorconfig
section-5-component-data-binding/practice-databinding/cmp-databinding/how-to-use.txt

section-3-course-project/course-project/e2e
section-3-course-project/course-project/.editorconfig
section-3-course-project/course-project/browserslist
section-3-course-project/course-project/karma.conf.json
section-3-course-project/course-project/package-lock.json

section-2-basics/my-first-app/e2e
section-2-basics/my-first-app/.editorconfig
section-2-basics/my-first-app/browserslist
section-2-basics/my-first-app/karma.conf.json
section-2-basics/my-first-app/package-lock.json

section-2-basics/practices/practice-binding/e2e
section-2-basics/practices/practice-binding/.DS_Store
section-2-basics/practices/practice-binding/.editorconfig
section-2-basics/practices/practice-binding/how-to-use.txt
section-2-basics/practices/practice-binding/package-lock.json

section-2-basics/practices/practice-component/e2e
section-2-basics/practices/practice-component/.editorconfig
section-2-basics/practices/practice-component/browserslist
section-2-basics/practices/practice-component/karma.conf.json
section-2-basics/practices/practice-component/package-lock.json

section-2-basics/practices/practice-directives/e2e
section-2-basics/practices/practice-directives/.DS_Store
section-2-basics/practices/practice-directives/.editorconfig
section-2-basics/practices/practice-directives/how-to-use.txt
section-2-basics/practices/practice-directives/package-lock.json