seccion-2/angular/clientes-app/e2e
seccion-2/angular/clientes-app/node_modules
seccion-2/angular/clientes-app/.editorconfig
seccion-2/angular/clientes-app/browserslist
seccion-2/angular/clientes-app/karma.conf.json
seccion-2/angular/clientes-app/package-lock.json