<!DOCTYPE html> <!-- Para manejar información dinámica con Thymeleaf. -->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>
</head>
<body>
    <h1>Inicio</h1>
    <a th:href="@{/agregar}">Crear persona</a>
    <div th:if="${personas != null and !personas.empty}"> <!-- Condicional. -->
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>

            <tr th:each="persona : ${personas}"> <!-- Iteración. -->
                <td th:text="${persona.nombre}">Mostrar nombre</td>
                <td th:text="${persona.apellido}">Mostrar apellido</td>
                <td th:text="${persona.email}">Mostrar email</td>
                <td th:text="${persona.telefono}">Mostrar teléfono</td>
                <td><a th:href="@{/editar/} + ${persona.idPersona}" th:text="Editar"></a></td>
                <td><a th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="Eliminar"></a></td>
                <!-- Query param -->
            </tr>
        </table>
    </div>
    <div th:if="${personas == null or personas.empty}">
        <p>La lista está vacía.</p>
    </div>
</body>
</html>