<div class="container">

  <div class="row">

    <div class="d-flex justify-content-center align-items-center">

      <h3>I'm in the AppComponent!</h3>

      <hr>

      <app-servers></app-servers>
      <!-- Data binding: Comunicación entre el componente y el template.
        Output data.
          String Interpolation ({{ data }})
          Property Binding ([property] = data)

        React to (User) events
          Event binding ((event)="expression")

        Two way Binding ([(ngModel)]="data"): Combinación de las dos direcciones. -->

      <!-- <div app-servers></div>

      <div class="app-servers"></div> -->

    </div>

  </div>

</div>

